// 1. FUNCTIONS (The engine)
@import "../bootstrap-source/scss/functions";

// 2. YOUR CUSTOM SINGLE VARIABLES
// Put $primary here. This replaces Bootstrap's default blue.
$primary: #0091b5;
$primary-rgb: to-rgb($primary);
// @import "bb";

// 3. BOOTSTRAP DEFAULTS
// This loads all the other defaults (like $secondary, $success, etc.)
@import "../bootstrap-source/scss/variables";
@import "../bootstrap-source/scss/variables-dark";

// 4. Map Overrides (Using map-merge to be safe)
$theme-colors-dark: map-merge($theme-colors-dark, (
  "primary": tint-color($primary, 60%)
));

// 5. THE FINAL BUILD
// Now we bring it all together.
@import "../bootstrap-source/scss/bootstrap";